.header {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.header__logo {
    max-width: 208px;
    order: 0;
}

.header__input {
    width: 280px;
    order:1;
}

.header__profile{
    order: 2;
}

@media screen and (max-width: 671px) {
    .header {
        justify-content: center;
    }
    .header__logo {
        order: 0;
    }
    .header__input {
        order: 2;
    }
    .header__profile {
        order: 1;
    }
}
